@model IEnumerable<DevIO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2>@ViewData["Title"]</h2>
<hr/>
<p>
    <a class="btn btn-info" asp-action="Create">Criar Novo</a>
</p>
<partial name="_ListaProdutos"/>