@{
    ViewData["Title"] = "DevIO.App";
}
<div class="text-center">
    <h1 class="display-4">Bem Vindo </h1>
    <p>Leia Sobre <a href="https://docs.microsoft.com/aspnet/core">Construir Aplicações usando o ASP.NET Core</a>.</p>
</div>