@model DevIO.App.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)
    {
        <div>
            <h3>Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h3>
        </div>
    }
    else
    {
        <h2>@Html.Raw(Model.Titulo)</h2>
        <h3 class="text-danger">@Html.Raw(Model.Mensagem).</h3>
    }
}
